In [31]:
import datetime as dt

from matplotlib import pyplot as plt
import pandas as pd
import pandas_datareader as pdr

In [34]:
# Se lee el csv con la lista de tickers y nos quedamos Ãºnicamente con el Symbol.
tickers_list = pd.read_csv("data/tickers_list.csv", usecols=["Symbol"])
tickers_list.index = tickers_list["Symbol"]

In [35]:
# Rango de fechas para trabajar
start_date = dt.datetime(2018, 1, 1)
end_date = dt.datetime(2020, 1, 1)

In [36]:
data = pdr.DataReader(name=tickers_list[:10], data_source="yahoo", start=start_date, end=end_date)["Adj Close"]

/home/luis/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'ABNB.MX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [38]:
data.head()

Symbols,ADSK.MX,AMXA.MX,AMXL.MX,ATVI.MX,ACOFN.MX,AIN.MX,ADI.MX,AIRN.MX,ANTM.MX,ABNB.MX
Date,,,,,,,,,,
2018-01-02,2038.000000,15.323005,15.355458,1256.480591,790.669800,2223.477783,NaN,NaN,4456.856445,NaN
2018-01-03,2048.000000,15.323005,15.032562,1256.480591,790.669800,2223.477783,NaN,NaN,4456.856445,NaN
2018-01-04,2048.000000,15.323005,15.032562,1250.487915,822.936035,2271.487549,NaN,NaN,4456.856445,NaN
2018-01-05,2121.179932,15.323005,15.059470,1267.966797,822.936035,2271.487549,NaN,NaN,4456.856445,NaN
2018-01-08,2121.179932,15.323005,15.229888,1267.966797,822.936035,2271.487549,NaN,NaN,4456.856445,NaN